:root {
    --primary-color: #EB2F3D;
    --secondary-color: #1E1E1E;
    --tertiary-color: #121011;
    --faded-text: #979797;
    --gradient-1: linear-gradient(#1f1f1f 0%, #333333 100%);
    --gradient-2: linear-gradient(#323232 0%, #767676 49%, #363535 100%);
}
body {
    font-family: 'Poppins';
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
header {
    position: absolute;
    top: 0;
    right: 0;
}
main {
    margin-top: 40px;
}
section {
    max-width: 406px;
    overflow-x: hidden;
}
p {
    color: #fff;
}

a {
    color: var(--faded-text);
    text-decoration: none;
}
a:hover {
    opacity: 0.8;
} 
a.next {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: #fff;
    max-width: 406px;
    height: 30px;
    border-radius: 10px;
    margin: 20px;
    transition: all 0.3s ease-in-out;
}
p {
    text-align: center;
}
a.skip-txt {
    font-size: 1.8rem;
    margin-right: 30px;
}

img {
    width: 133px;
    height: 182px;
}

button {
    background-color: var(--secondary-color);
    border: none;
    color: #fff;
    height: 40px;
    width: 95px;
    margin-bottom: 5px;
    border-radius: 10px;
}
button.clicked {
    background-color: var(--primary-color);
}
button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}
div.progress-bar {
    display: flex;
    margin: 20px 20px;
}
div.progress-bar div {
    height: 5px;
    width: 200px;
}
div div.first-halve {
    margin-right: 6px;
}
div.first div.first-halve, div.second div.second-halve {
    background-color: var(--primary-color);
}
div.first div.second-halve, div.second div.first-halve {
    background-color: var(--secondary-color);
}

.images-div {
    width: 545px;
    margin-left: -30px;
}
.second-images {
    margin-left: -90px;
}
div.first {
    display: block;
}

div.second {
    display: none;
}